<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>E-commerce - Programador a Bordo</title>		
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
		<h1>List Products</h1>
		
		<table>
			<thead>
				<tr>
					<th>Produto</th>
					<th>Preço</th>
					<th>&nbsp</th>
				</tr>
			</thead>
			<tbody>
				<% products.forEach(function(product) { %>
					<tr>
						<td><%= product.attributes.name %></td>
						<td><%= product.attributes.price %></td>												
						<td><a href="http://localhost:3000<%= product.links.self %>">Excluir</a></td>
					</tr>
				<% }) %>
			</tbody>
		</table>

	</body>
</html>
