<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>E-commerce - Programador a Bordo</title>		
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	<body>
		<main class="container">
			<h1>List Products</h1>		
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Produto</th>
						<th>Preço</th>
						<th>&nbsp</th>
					</tr>
				</thead>
				<tbody>
					<% products.forEach(function(product) { %>
						<tr>
							<td><%= product.attributes.name %></td>
							<td><%= product.attributes.price %></td>												
							<td><a class="btn btn-danger btn-excluir" href="http://localhost:3000<%= product.links.self %>">Excluir</a></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		<main>
			<script>
				const productList = document.querySelector('table');
				productList.addEventListener('click', (event) => {					
					event.preventDefault();
					const btnExcluir = event.target;
					
					if (btnExcluir.classList.contains('btn-excluir')){
						// console.log(event.target);
						const url = btnExcluir.href;
						// console.log(url);
						fetch(url, {
							method: 'DELETE'
						}).then(function() {
							// console.log('Deletou')
							btnExcluir.parentNode.parentNode.remove();
						})
					}

				})
				
			</script>
	</body>
</html>
